# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Balls_of_Steel.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\JaK\RiderProjects\GDWC\Balls_of_Steel\.idea\.idea.Balls_of_Steel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
